<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drimsys.mapper.orderMapper">

	<select id="updateProductTot">
		UPDATE product SET product_tot = product_tot - ${user_select_quantity} WHERE product_id = '${product_id}'
	</select>
	
	<select id="selectProductName" resultType="ProductVO">
		SELECT product_name FROM product WHERE product_id = '${product_id}'
	</select>
	
	<insert id="insertUser_Product">
		INSERT INTO user_product(user_id, product_id, product_quantity, date) 
		VALUES('${user_id}', '${product_id}', ${product_quantity}, '${date}')
	</insert>
	
	<!-- 시간 추가 관련 -->
	<update id="updateUserTime">
		UPDATE user SET user_time = user_time + 60 * ${user_select_quantity} 
		WHERE user_id = '${user_id}'
	</update>

</mapper>
